@model IEnumerable<LearningTool.Models.Test>
@{
    ViewBag.Title = "Home Page";
}

<h2>My Tests</h2>

<table class="table">
    @foreach (var test in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => test.Subject) <br />

            </td>
            <td>
                @Html.ActionLink("Details", "Details", "Test", new { id = test.Id }, htmlAttributes: null)|
                @Html.ActionLink("Start Test", "TestMode", "Test", new { id = test.Id }, htmlAttributes: null)
            </td>
        </tr>
    }
</table>
